## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\tebha.ahsan\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from gmaps) (7.19.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from gmaps) (5.0.5)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: six in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (50.3.1.post20201107)
Requirement already satisfied: backcall in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: jedi>=0.10 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pygments in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.7.2)
Requirement already satisfied: decorator in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: pickleshare in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.8)
Requirement already satisfied: ipython-genutils in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.8)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: jupyter-core in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.4)
Requirement already satisfied: jupyter-client in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: tornado>=4.2 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.1)
Requirement already satisfied: jinja2 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: pyzmq>=17 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.2)
Requirement already satisfied: argon2-cffi in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: nbconvert in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: Send2Trash in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pywinpty>=0.5 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: cffi>=1.0.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: defusedxml in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: testpath in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: bleach in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.1)
Requirement already satisfied: pycparser in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: nest-asyncio in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: async-generator in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: packaging in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: webencodings in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\tebha.ahsan\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.96,79,79,20.36,broken clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,64,35,5.12,scattered clouds
2,2,Joshimath,IN,30.5667,79.5667,69.80,50,26,4.56,scattered clouds
3,3,Monforte De Lemos,ES,42.5216,-7.5142,35.01,93,58,3.00,broken clouds
4,4,Mataura,NZ,-46.1927,168.8643,55.99,74,65,3.00,broken clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the coldest temperature you would like for your trip? "))
max_temp = float(input("What is the warmest temperature you would like for your trip? "))

What is the coldest temperature you would like for your trip? 65
What is the warmest temperature you would like for your trip? 99

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
dest_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
dest_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.96,79,79,20.36,broken clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,64,35,5.12,scattered clouds
2,2,Joshimath,IN,30.5667,79.5667,69.80,50,26,4.56,scattered clouds
6,6,Busselton,AU,-33.6500,115.3333,66.00,72,98,1.01,overcast clouds
8,8,Shingu,JP,33.7333,135.9833,66.20,88,75,10.36,mist
11,11,New Norfolk,AU,-42.7826,147.0587,68.00,52,99,1.01,overcast clouds
14,14,Luderitz,NaN,-26.6481,15.1594,65.25,38,0,12.10,clear sky
18,18,Daru,PG,-9.0763,143.2092,81.27,80,99,11.01,overcast clouds
21,21,Viedma,AR,-40.8135,-62.9967,65.55,49,100,15.32,overcast clouds
22,22,Kavaratti,IN,10.5669,72.6420,85.17,71,27,7.27,scattered clouds

In [9]:
# 4a. Determine if there are any empty rows.
dest_df.count()

City_ID                337
City                   337
Country                336
Lat                    337
Lng                    337
Max Temp               337
Humidity               337
Cloudiness             337
Wind Speed             337
Current Description    337
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
nan_value = float("NaN")
dest_df.replace("", nan_value, inplace = True)
dest_df.dropna(subset = ["Country"], inplace = True)
dest_df

C:\Users\tebha.ahsan\Anaconda3\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-10-eda4430892d0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dest_df.dropna(subset = ["Country"], inplace = True)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.96,79,79,20.36,broken clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,64,35,5.12,scattered clouds
2,2,Joshimath,IN,30.5667,79.5667,69.80,50,26,4.56,scattered clouds
6,6,Busselton,AU,-33.6500,115.3333,66.00,72,98,1.01,overcast clouds
8,8,Shingu,JP,33.7333,135.9833,66.20,88,75,10.36,mist
...,...,...,...,...,...,...,...,...,...,...
677,677,Nouadhibou,MR,20.9310,-17.0347,66.20,88,0,14.97,clear sky
681,681,Cam Ranh,VN,11.9214,109.1591,87.80,62,20,4.61,few clouds
682,682,Chitral,PK,35.8462,71.7858,67.66,40,2,2.86,clear sky
683,683,Cotonou,BJ,6.3654,2.4183,82.40,83,20,10.36,few clouds
685,685,Port Keats,AU,-14.2500,129.5500,91.31,31,0,3.18,clear sky

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = dest_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.96,broken clouds,-23.1203,-134.9692,
1,Arraial Do Cabo,BR,71.46,scattered clouds,-22.9661,-42.0278,
2,Joshimath,IN,69.80,scattered clouds,30.5667,79.5667,
6,Busselton,AU,66.00,overcast clouds,-33.6500,115.3333,
8,Shingu,JP,66.20,mist,33.7333,135.9833,
11,New Norfolk,AU,68.00,overcast clouds,-42.7826,147.0587,
18,Daru,PG,81.27,overcast clouds,-9.0763,143.2092,
21,Viedma,AR,65.55,overcast clouds,-40.8135,-62.9967,
22,Kavaratti,IN,85.17,scattered clouds,10.5669,72.6420,
23,Hilo,US,80.60,overcast clouds,19.7297,-155.0900,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("hotel not found... skipping")
hotel_df

hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping
hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.96,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,Arraial Do Cabo,BR,71.46,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
2,Joshimath,IN,69.80,scattered clouds,30.5667,79.5667,Shivalik Camps & Resort
6,Busselton,AU,66.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
8,Shingu,JP,66.20,mist,33.7333,135.9833,Shingu UI Hotel
...,...,...,...,...,...,...,...
677,Nouadhibou,MR,66.20,clear sky,20.9310,-17.0347,El Medina
681,Cam Ranh,VN,87.80,few clouds,11.9214,109.1591,OYO 598 Peony Hotel
682,Chitral,PK,67.66,clear sky,35.8462,71.7858,PTDC Motel Chitral
683,Cotonou,BJ,82.40,few clouds,6.3654,2.4183,Novotel Cotonou Orisha
685,Port Keats,AU,91.31,clear sky,-14.2500,129.5500,TDC Village (Hundred Man Camp)

In [13]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace = True)
hotel_df.dropna(subset = ["Hotel Name"], inplace = True)

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.96,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,Arraial Do Cabo,BR,71.46,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
2,Joshimath,IN,69.80,scattered clouds,30.5667,79.5667,Shivalik Camps & Resort
6,Busselton,AU,66.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
8,Shingu,JP,66.20,mist,33.7333,135.9833,Shingu UI Hotel
...,...,...,...,...,...,...,...
677,Nouadhibou,MR,66.20,clear sky,20.9310,-17.0347,El Medina
681,Cam Ranh,VN,87.80,few clouds,11.9214,109.1591,OYO 598 Peony Hotel
682,Chitral,PK,67.66,clear sky,35.8462,71.7858,PTDC Motel Chitral
683,Cotonou,BJ,82.40,few clouds,6.3654,2.4183,Novotel Cotonou Orisha
685,Port Keats,AU,91.31,clear sky,-14.2500,129.5500,TDC Village (Hundred Man Camp)

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))